{% extends "base.html" %}
{% block content %}
    <div style="display: flex;
                flex-direction: row;
                gap: 3rem;
                align-items: center;
                justify-content: center;
                height: 500px">
        <div>
            <h1>Bookings</h1>
            <button id="choose-date">choose date</button>
        </div>
        <div>
            <!-- // bookings slots -->
            <h3>1/10/25</h3>
            <div id="bookings-slots" style="border: 1px solid black; padding: 1rem; ">
                {% include "available-time-slots.html" %}
            </div>
        </div>
    </div>
{% endblock %}
