{% extends "base.html" %}
{% block content %}
    <div class="flex flex-col gap-6 md:flex-row">
        <div class="w-full md:w-1/2">
            <h1>Make a Booking</h1>
            <div class="flex flex-col gap-2 mb-6">
                <label for="choose-date" class="label">Choose Date</label>
                <calendar-date class="cally bg-base-100 shadow-md w-full max-w-md text-xl border border-base-300 rounded-box" id="choose-date">
                <svg aria-label="Previous"
                     class="fill-current size-4"
                     slot="previous"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
                </svg>
                <svg aria-label="Next"
                     class="fill-current size-4"
                     slot="next"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                </svg>
                <calendar-month></calendar-month>
                </calendar-date>
            </div>
        </div>
        <div class="w-full md:w-1/2">
            <!-- // bookings slots -->
            <div id="bookings-slots">{% include "available-time-slots.html" %}</div>
        </div>
    </div>
    <div id="user-bookings-section">{% include "user-bookings.html" %}</div>
{% endblock %}
{% block extra_js %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        let globalSelectedDate = null;
        document.getElementById('choose-date').addEventListener('change', function(event) {  
            const selectedDate = event.target.value;
            globalSelectedDate = selectedDate;
            updateBookingSlots(selectedDate);
        });

        
        function updateBookingSlots(selectedDate) {
            // update the date in the h3
            document.getElementById("bookings-date").innerHTML = parseDate(selectedDate);
            if (selectedDate) {
                loadSection("{% url 'available_time_slots' %}?date=" + parseDate(selectedDate), "bookings-slots");
            }
        }

        function parseDate(date) {
            return new Date(date).getFullYear() + '-' + (new Date(date).getMonth() +1)  + '-' + new Date(date).getDate();
        }

        async function loadSection(url, targetId) {
            try {
                const response = await fetch(url, { headers: { "X-Requested-With": "XMLHttpRequest" }});
                const html = await response.text();
                document.getElementById(targetId).innerHTML = html;
            } catch (err) {
                console.error("Error loading section:", err);
            }
        }

        function initAvailableTimeSlotsPartial() {
            loadSection("{% url 'available_time_slots' %}", "bookings-slots");
            loadSection("{% url 'user_bookings' %}", "user-bookings-section");
        }

        document.addEventListener('booking-confirmed', function(event) {
            loadSection("{% url 'user_bookings' %}", "user-bookings-section");
        });

        document.addEventListener('booking-cancelled', function(event) {
            // get selected date;
            console.log("selectedDate", globalSelectedDate);
            if (globalSelectedDate) {
                loadSection("{% url 'available_time_slots' %}?date=" + parseDate(globalSelectedDate), "bookings-slots");
            } else {
                loadSection("{% url 'available_time_slots' %}", "bookings-slots");
            }
            loadSection("{% url 'user_bookings' %}", "user-bookings-section");
        });

       initAvailableTimeSlotsPartial()
    });
    </script>
{% endblock %}
