{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
     <!-- Navigation -->
     <nav>
        <div>
          <div>
            <div>
              <a href="{% url 'home' %}">
                Booking home</a>
            </div>
            <ul>
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'account_logout' %}">Logout</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'account_signup' %}">Register</a>
                </li>
                <li>
                  <a href="{% url 'account_login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    this is default block content
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>