{% load static %}
{% load static tailwind_tags %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% tailwind_css %}
    <script type="module" src="https://unpkg.com/cally"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    {% block extra_css %}{% endblock %}
  </head>
  <body class="bg-base-100 text-base-content min-h-screen flex flex-col">
    <!-- Navigation -->
    <nav class="shadow-sm px-4 bg-base-300 text-base-content border-b border-base-900">
      <div class="container navbar mx-auto">
        <div class="flex-1">
          <a href="/" class="link link-hover text-xl">Booking home</a>
        </div>
        <div class="flex-none ">
          <ul class="menu menu-horizontal px-1 mb-0 bg-base-400 text-base-content">
            <details class="md:hidden relative cursor-pointer">
              <summary>Menu</summary>
              <ul class="rounded-t-none p-2 absolute top-10 right-0 w-max z-10 shadow-lg">
                {% if user.is_staff %}
                  <li>
                    <a href="/staff-dashboard/">Staff Dashboard</a>
                  </li>
                {% endif %}
                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'account_signup' %}">Register</a>
                  </li>
                  <li>
                    <a href="{% url 'account_login' %}">Login</a>
                  </li>
                {% endif %}
              </ul>
            </details>
            {% if user.is_staff %}
              <li class="hidden md:block">
                <a href="/staff-dashboard/">Staff Dashboard</a>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="hidden md:block">
                <a href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="hidden md:block">
                <a href="{% url 'account_signup' %}">Register</a>
              </li>
              <li class="hidden md:block">
                <a href="{% url 'account_login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if messages %}
      <div class="toast toast-top toast-center">
        {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
      </div>
    {% endif %}
    <main class="bg-base-100 text-base-content flex-grow">
      <div class="container mx-auto px-4 py-8">
        {% block content %}this is default block content{% endblock %}
      </main>
      <footer class="footer footer-center p-4 bg-base-300 text-base-content border-t border-base-900 mt-auto">
        <div>
          <p>Copyright © 2025 - All right reserved by ACME Industries Ltd</p>
        </div>
        <div class="flex items-baseline ml-auto">
          <label for="theme-controller">Theme:</label>
          <select class="select select-secondary w-full theme-controller">
            <option value="light">Light</option>
            <option value="dim">Dark</option>
            <option value="coffee">Coffee</option>
            <option value="winter">Winter</option>
            <option value="pastel">Pastel</option>
            <option value="dracula">Dracula</option>
            <option value="business">Business</option>
            <option value="acid">Acid</option>
            <option value="cyberpunk">Cyberpunk</option>
            <option value="cupcake">Cupcake</option>
            <option value="forest">Forest</option>
            <option value="halloween">Halloween</option>
            <option value="light">Light</option>
            <option value="midnight">Midnight</option>
            <option value="night">Night</option>
            <option value="retro">Retro</option>
            <option value="silk">Silk</option>
            <option value="lemonade">Lemonade</option>
            <option value="nord">Nord</option>
          </select>
        </div>
      </footer>
      {% block extra_js %}{% endblock %}
    </body>
  </html>
